body{
	background-color: black;
	height: auto;
	width: 100%;
}
.box
{
	height: 1400px;
	width: 45%;
	border: 1px solid white;
	margin-left: 20px;
	float: left;
}

.header
{
	height: 150px;
	width: 99%;
}

img
{
	height: 100px;
	width: 100px;
}
.fa
{
	color: white;
	float: right;
	margin-top: 40px;
	margin-right: 50px;
}
.id8
{
	font-size: 14px;
}
.info
{
	color: white;
	font-size: 6px;
	margin-left:-235px;
	margin-top: 150px;
}
.h1
{
	color: white;
	margin-left:10px ;
	font-size: 40px;
	margin-top: -30px;
}
.square
{
	height: 200px;
	width: 220px;
	border: 1px solid ;
	float: right;
	margin-top: -100px;

}
.round1
{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 1px solid #eb4034;
	margin-top: -40px;
}
.round2
{
	height: 170px;
	width: 170px;
	border-radius: 50%;
	border: 1px solid #eb5f34;
	margin-left: 13px;
	margin-top: 13px;
}
.round3
{
	height: 140px;
	width: 140px;
	border-radius: 50%;
	border: 1px solid #eb8334;
	margin-left: 13px;
	margin-top: 13px;
}
.round4
{
	height: 110px;
	width: 110px;
	border-radius: 50%;
	border: 1px solid #ebab34;
	margin-left: 13px;
	margin-top: 13px;
}
.round5
{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	border: 1px solid #ebdc34;
	margin-left: 18px;
	margin-top: 18px;
	color: white;
	text-align: center;
}
/*.traingle
{
	color: white;
	height:500px ;
	width: 500px;
    border: 1px solid white;
}*/
center{
	margin-top: 10px;
}
.img
{
	height: 300px;
	width: 300px;
}
.tt{
	margin-top: -10px;
}
/*.r1
{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	color: white;
	border: 1px solid white;
	
}*/
.traingle
{
	width: 0px;
	height: 0px;
	margin: 200px auto;
	position: relative;
	border-left: 140px solid transparent;
	border-right: 140px solid transparent;
    border-bottom: 230px solid white;
  margin-top: -20px;
    margin-left: 8px;
    
}
.traingle1
{
	content: " ";
	width: 15px;
	height: 0px;
	position:absolute;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
    border-bottom: 200px solid black;
    top: 22px;
    left: -128px;

}
.creative
{
	margin-top: 150px;
	margin-left: px;
	font-size: 15px;
}
.r1{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background-color:#fc3503;
	margin-left: -60px;
	margin-top: 60px;
	border: 1px solid #fc3503;
}
.r2{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background-color:#fc5603;
	border: 1px solid #fc5603;
	margin-left: -70px;
	margin-top: -10px;
}

.r3{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background-color:#fc8403;
	margin-left: -80px;
	margin-top:-10px;
	border: 1px solid #fc8403;
}
.r4{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background-color:#fcb103;
	margin-left: -92px;
	margin-top:-10px;
	border: 1px solid #fcb103;
}
.r5{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background-color:#fce703;
	margin-left: -102px;
	margin-top:-10px;
	border: 1px solid #fce703;
}
.r6{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background-color:#fc3503;
	margin-left: -135px;
	margin-top:34px;
	border: 1px solid #fc3503;
}
p
{
	font-size: 20px;
	color: white;
	margin-top: 130px;
	margin-left: 130px;

}
.Strategic
{
	font-size: 15px;
	color: white;
	margin-top: -180px;
	margin-left: -500px;
	text-align: center;
}
.Imagery
{
	font-size: 15px;
	color: white;
	margin-top: -45px;
	margin-left: 0px;
	text-align: center;
}
pre
{
	font-size: 15px;
	color: white;
	margin-top: -150px;
}
.product
{
	margin-top: -40px;
	font-size: 15px;
	color: white;
	margin-left: 80px;

}
h4
{
   color: white;
   position: absolute;
   bottom: 0;
   left: 0;
   transform: rotate(300deg);
   margin-left: -0px;
   float: left;
}
h5
{
	color: white;
   position: absolute;
   bottom: 0;
   left: 0;
   transform: rotate(60deg);
   margin-left: 200px;
   font-size: 18px;
   margin-top: 30px;
   float: left;
}
h2
{
	color: white;
    float: right;
    font-size: 45px;
    margin-top: -240px;
    margin-left: -50px;
}
.try
{
	margin-top: 70px;
	font-size: 12px;
}
.box1
{
	height: 350px;
	width: 550px;
/*	border: 1px solid white;*/
	margin-top: 140px;
	margin-left: 15px;

}
.inner1
{
	height: 300px;
	width: 350px;
/*	border: 1px solid white;*/
    float: left;
}
.inner2
{
	height: 300px;
	width: 170px;
/*	border: 1px solid white;*/
    float: right;
}
.para
{
	text-align:justify;
	margin-left: -220px;
	margin-top: 30px;
	font-size: 11px;
}

/*
 .up-arrow {
            width: 0px; 
            height: 10px; 
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
              
            border-bottom: 50px solid green;
            margin-top: 20px;
            margin: 2rem;
            }*/
.inner2
{
	height: 300px;
	width: 180px;
}
.footer h1
{
	color: white;
	font-size: 10px;
	margin-top: 200px;
	margin-left: 10px;
}
.foot pre{
	font-size: 30px;
}
 h6{
	font-size: 20px;
	color: white;
	margin-top: 160px;
	margin-left: 10px;
}
